* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    text-align: center;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 3.5px solid black;
    display: inline-flex;
    margin: -5.5px;
   
}


.black {
    background-color: black;
} 

 
